.headBox{
    width: 100%;
    z-index: 1;
    position: absolute;
    left:0;
    top:0;
    height:2.89rem;

} 

header{
    width:100%;
    height:1.92rem;
    box-sizing: border-box;
    background:#16b13a;

}
header ul li:nth-of-type(1) p img{
    width:0.79rem;
    height:0.79rem;
    padding-right: 0.2rem;
}
header  ul li:nth-of-type(1) p{
    font-size: .65rem;
    color:#fff;
}
header  ul{
    width:100%;
    padding: 0 .35rem;
    display: flex;
    box-sizing: border-box;
    padding-top:0.9rem;

}
header  ul li{
    display: flex;
}
header  ul li:nth-of-type(2) p{
    width:1.6rem;
    font-size: .6rem;
    color:#fff;
    font-weight: bold;
    position: absolute;
    left:46%;

}
.table{
    width:100%;
    height:0.97rem;
    background: #fafafa;
}
.table ul{
    width:100%;
    display: flex;
}
.table ul li{
    display: flex;
    font-size:.42rem ;
    width: 1.23rem;;
}
.nav{
    width:100%;
    box-sizing: border-box;
    padding-left: .2rem;

}
.swiper-slide{
    width:100%;
}
.p{
    width: 1.28rem;
    height:0.97rem;
    font-size:0.4rem;
    line-height:0.97rem;
    font-weight: bold;
    text-align: center;
    background: white;
}
section{
    position: absolute;
    top:2.89rem;
    bottom:1.36rem ;
    width: 100%;
    overflow-y: auto;
}
/*------------下边内容部分----------*/
.content{
    width:100%;

}
.selected{
    color:green;
    border-bottom: 2px solid green;
}
.shuju{
    width:100%;
    height: 1.16rem;
    background: #333d46;
}
.list{
    width:10.19rem;
    height: 0.74rem;
    position: relative;
    left:0.31rem;
    top:0.2rem;
    border:1px  #1b2326 solid;
    display: flex;
}
.list li{
    flex-grow: 1;
    color: #8f9cac;
    font-size: 0.46rem;
    text-align: center;
    line-height: 0.74rem;
}
.list li:nth-of-type(1){
    border-right: 1px solid #1b2326;
    background: #1b2326;
    color: #ffffff;
}
.list li:nth-of-type(2){
    border-right: 1px solid #1b2326;
}
.list li:nth-of-type(3){
    border-right: 1px solid #1b2326;
}
.qd{
    width:100%;
    height: 0.73rem;
    background: #3f4c55;
}
.qd .test{
    width:10.28rem;
    height: 0.73rem;
    display: flex;
    pition: relative;
    left:0.25rem;

}
.qd .test li{
    color: #faf9f7;
    font-size: 0.35rem;
    text-align: center;
    line-height: 0.73rem;
}
.qd .test li:nth-child(1){
    flex-grow: 8;

}
.qd .test li:nth-child(2){
    flex-grow: 1;
}
.qd .test li:nth-child(3){
    flex-grow: 1;
}
.qd .test li:nth-child(4){
    flex-grow: 1;
}
.qd .test li:nth-child(5){
    flex-grow: 1;
}
.qd .test li:nth-child(6){
    flex-grow: 2;
}
.qd .test li:nth-child(7){
    flex-grow: 1;
}
.qdd{
    width:100%;
    height: 1.21rem;
    background: #15b038;
    border-bottom:solid 1px #129e33;
}
.qdd .testt{
    width:10.28rem;
    height: 1.21rem;
    display: flex;
    pition: relative;
    left:0.25rem;

}
.qdd .testt li{
    color: #faf9f7;
    font-size: 0.35rem;
    text-align: left;
    line-height: 1.21rem;
}
.qdd .testt li:nth-child(1){
    flex-grow: 0;

}
.qdd .testt li:nth-child(2){
    flex-grow: 1;
    padding-left: 0.1rem;
    box-sizing: border-box;
}
.qdd .testt li:nth-child(3){
    flex-grow: 1;
}
.qdd .testt li:nth-child(4){
    flex-grow: 1;
}
.qdd .testt li:nth-child(5){
    flex-grow: 1;
    padding-left: 0.2rem;
}
.qdd .testt li:nth-child(6){
    flex-grow: 2;
    padding-left: 0.3rem;
}
.qdd .testt li:nth-child(7){
    flex-grow: 1;
}
.duu{
    display: flex;
}
.duu p:nth-of-type(1){
    width:0.5rem;
}
.duu p:nth-of-type(2){
    width:0.98rem;
}
.duu p:nth-of-type(3){
    width:2.68rem;
    text-align: left;
    padding-left: 0.1rem;
}
.duu p:nth-of-type(2) img{
    width:0.71rem;
    height:0.71rem;
    margin-top: 0.26rem;
}
.qddt{
    width:100%;
    height: 1.21rem;
    background: #333d46;
    border-bottom:solid 1px #2a343d;
}
.qddt .testt{
    width:10.28rem;
    height: 1.21rem;
    display: flex;
    pition: relative;
    left:0.25rem;

}
.qddt .testt li{
    color: #faf9f7;
    font-size: 0.35rem;
    text-align: left;
    line-height: 1.21rem;
}
.qddt .testt li:nth-child(1){
    flex-grow: 0;

}
.qddt .testt li:nth-child(2){
    flex-grow: 1;
    padding-left: 0.1rem;
    box-sizing: border-box;
}
.qddt .testt li:nth-child(3){
    flex-grow: 1;
}
.qddt .testt li:nth-child(4){
    flex-grow: 1;
}
.qddt .testt li:nth-child(5){
    flex-grow: 1;
    padding-left: 0.2rem;
}
.qddt .testt li:nth-child(6){
    flex-grow: 2;
    padding-left: 0.3rem;
}
.qddt .testt li:nth-child(7){
    flex-grow: 1;
}
.duu{
    display: flex;
}
.duu p:nth-of-type(1){
    width:0.5rem;
    padding-left: 0.1rem;
}
.duu p:nth-of-type(2){
    width:0.98rem;
}
.duu p:nth-of-type(3){
    width:2.68rem;
    text-align: left;
    padding-left: 0.1rem;
}
.duu p:nth-of-type(2) img{
    width:0.71rem;
    height:0.71rem;
    margin-top: 0.26rem;
}
.endd{
    width:100%;
    height: 1.21rem;
    background: #3f4c55;
    border-bottom:solid 1px #27343c;
}
.endd .testt{
    width:10.28rem;
    height: 1.21rem;
    display: flex;
    pition: relative;
    left:0.25rem;

}
.endd .testt li{
    color: #faf9f7;
    font-size: 0.35rem;
    text-align: left;
    line-height: 1.21rem;
}
.endd .testt li:nth-child(1){
    flex-grow: 0;

}
.endd .testt li:nth-child(2){
    flex-grow: 1;
    padding-left: 0.1rem;
    box-sizing: border-box;
}
.endd .testt li:nth-child(3){
    flex-grow: 1;
}
.endd .testt li:nth-child(4){
    flex-grow: 1;
}
.endd .testt li:nth-child(5){
    flex-grow: 1;
    padding-left: 0.2rem;
}
.endd .testt li:nth-child(6){
    flex-grow: 2;
    padding-left: 0.3rem;
}
.endd .testt li:nth-child(7){
    flex-grow: 1;
}
/*
end*/
footer {
    width: 100%;
    position: fixed;
    height: 1.36rem;
    bottom: 0;
    left: 0;
    background-color:#f7f7f7;
    z-index: 2;
}
#foottitle{
    width: 100%;
    height: 1.36rem;
    display: flex;
    flex-direction: row;


}
#foottitle a{
    box-sizing: border-box;
    display: inline-block;
    text-align:center;
    flex-grow: 1;
    text-align: center;
    padding-top: 6px;
}
#foottitle a em{
    box-sizing: border-box;
    margin-top: .25rem;
    display: block;
    width: .68rem;
    height: .68rem;
    background: url(../img/f111.jpg) no-repeat center;
    background-size: cover;
    margin: 0 auto;
}

#foottitle a span{
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: .3rem;
    margin-top: .08rem;
    font-size: 0.24rem;
    color: #555555;
}
#foottitle a:nth-of-type(1) span{
    color: #555555;
}
#foottitle a:nth-of-type(2) em{
    background: url(../img/f222.jpg) no-repeat center;
    background-size: cover;
}
#foottitle a:nth-of-type(3) em{
    width:1.12rem;
    height:1.12rem;
    background: url(../img/f3.jpg) no-repeat center;
    background-size: cover;
}
#foottitle a:nth-of-type(4) em{
    background: url(../img/f4.jpg) no-repeat center;
    background-size: cover;
}
#foottitle a:nth-of-type(5) em{
    background: url(../img/f61.jpg) no-repeat center;
    background-size: cover;
}
